# リストについての補足

In [7]:
# append(x)
    # リストの末尾にxを追加する
# extend(L)
    # リストの末尾に，与えられたリストLの全アイテムを追加することで，リストを延長する
# insert(i, x)
    # 指定された位置にアイテムを挿入する
# remove(x)
    # 値がxである最初のアイテムを削除する
# pop([i])
    # 指定された位置のアイテムをリストから削除し，このアイテムを返す．指定がなければリストの最後に該当する
# index(x)
    # 値がxである最初のアイテムのインデックス(左から何番目か)を返す
# count(x)
    # リスト中のxの個数を返す
# sort()
    # リストをインプレースでソートする(並び替え)
# reverse()
    # リストの要素をインプレースで逆順にする

In [1]:
a = [66.25, 333, 333, 1, 1234, 5]
print(a.count(333), a.count(66.25), a.count('x'))

2 1 0

In [2]:
a.insert(2,-1)
a

[66.25, 333, -1, 333, 1, 1234, 5]

In [3]:
a.append(333)
a

[66.25, 333, -1, 333, 1, 1234, 5, 333]

In [6]:
a.index(5)

6

In [8]:
a.remove(333)
a

[66.25, -1, 333, 1, 1234, 5, 333]

In [9]:
a.reverse()
a

[333, 5, 1234, 1, 333, -1, 66.25]

In [10]:
a.sort() # 大きい順に並び替える
a

[-1, 1, 5, 66.25, 333, 333, 1234]

# リストをスタックとして使う

In [11]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [12]:
stack.pop()

7

In [13]:
stack

[3, 4, 5, 6]

In [14]:
stack.pop(2)

5

In [15]:
stack

[3, 4, 6]

# リストをキューとして使う

In [16]:
queue = ["Eric", "John", "Michael"]
queue.append("Terry")
queue.append("Graham")
queue.pop(0)

'Eric'

In [17]:
queue.pop(0)

'John'

In [18]:
queue

['Michael', 'Terry', 'Graham']

# リスト内包

In [5]:
vec = [2, 4, 6]
[3*x for x in vec]

[6, 12, 18]

In [10]:
[[x,x**2] for x in vec]

[[2, 4], [4, 16], [6, 36]]

In [11]:
[x,x**2 for x in vec]

SyntaxError: invalid syntax (<ipython-input-11-29d430199ef9>, line 1)

In [12]:
[(x,x**2) for x in vec]

[(2, 4), (4, 16), (6, 36)]

In [7]:
freshfruit = [' banana', ' loganberry ', 'passion fruit ']
[weapon.strip() for weapon in freshfruit] # strip()は空白文字を取り除く

['banana', 'loganberry', 'passion fruit']

In [8]:
[3*x for x in vec if x>3]

[12, 18]

In [9]:
[3*x for x in vec if x<2]

[]

In [13]:
vec1 = [2, 4, 6]
vec2 = [4, 3, -9]
[x*y for x in vec1 for y in vec2]

[8, 6, -18, 16, 12, -36, 24, 18, -54]

In [14]:
[x+y for x in vec1 for y in vec2]

[6, 5, -7, 8, 7, -5, 10, 9, -3]

In [17]:
[x*y for y in vec2 for x in vec1]

[8, 16, 24, 6, 12, 18, -18, -36, -54]

In [18]:
[vec1[i]*vec2[i] for i in range(len(vec1))] # range関数はリストvec1の長さの値(len(vec1)=3)の手前まで1つずつ増える．

[8, 12, -54]

In [19]:
[str(round(355/113, i)) for i in range(1,6)]
# round関数は小数点以下をどれくらい表示するか．
# range関数は，今回では"1"から始めて"6"の手前まで1つずつ増える

['3.1', '3.14', '3.142', '3.1416', '3.14159']

# 入れ子のリスト内包

In [21]:
mat = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [22]:
print([[row[i] for row in mat] for i in [0, 1, 2]])

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [24]:
for i in [0, 1, 2]:
    for row in mat:
        print(row[i], end=", ")
    print

1, 4, 7, 2, 5, 8, 3, 6, 9,

In [25]:
list(zip(*mat))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

# del文

In [32]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [33]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [34]:
del a[:]
a

[]

# タプルとシーケンス

In [1]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [2]:
t

(12345, 54321, 'hello!')

In [3]:
# タプルは入れ子にできる
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [4]:
empty = ()
singleton = 'hello',
len(empty)

0

In [5]:
len(singleton)

1

In [6]:
singleton

('hello',)

# 集合(set)

In [2]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'pear', 'orange', 'banana', 'apple'}

In [3]:
fruit = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
fruit = set(fruit) # 重複を除去し集合を作る
fruit

{'apple', 'banana', 'orange', 'pear'}

In [4]:
'orange' in fruit

True

In [5]:
'crabgrass' in fruit

False

In [9]:
# 2つの単語から重複しない(ユニーク)文字を取り集合演算する
a = set('abracadabra')
b = set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [10]:
b

{'a', 'c', 'l', 'm', 'z'}

In [7]:
a - b # aに存在しbにはない文字を出す

{'b', 'd', 'r'}

In [11]:
a | b # aまたはbに存在する文字

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [12]:
a & b # aにもbにも存在する文字

{'a', 'c'}

In [13]:
a ^ b # aまたはbにあり重複を除いた文字

{'b', 'd', 'l', 'm', 'r', 'z'}

In [15]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

# ディクショナリ

In [21]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [22]:
tel['jack']

4098

In [23]:
del tel['sape']
tel['irv'] = 4127
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [24]:
list(tel.keys())

['jack', 'guido', 'irv']

In [25]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [26]:
'guido' in tel

True

In [27]:
'jack' not in tel

False

In [1]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [2]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [3]:
dict(ssape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'ssape': 4139}

# ループのテクニック

In [5]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k,v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [6]:
for i,v in enumerate(['tic', 'tac', 'toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [7]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q,a in zip(questions, answers):
    print('What is your {0}? It is {1}.'.format(q,a))

What is your name? It is lancelot.
What is your quest? It is the holy grail.
What is your favorite color? It is blue.

In [8]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [9]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

# シーケンスやその他の型の比較

In [12]:
(1,2,3) < (1,2,4)

True

In [13]:
[1,2,3] < [1,2,4]

True

In [14]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [15]:
(1,2,3,4) < (1,2,4)

True

In [16]:
(1,2) < (1,2,-1)

True

In [17]:
(1,2,3) == (1.0,2.0,3.0)

True

In [18]:
(1,2,('aa','ab')) < (1,2,('abc','a'),4)

True

In [20]:
a=2
b=5
1 < a < 3 < b

True